.App {
  text-align: left;
}

/*

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*/

#wholePage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#header {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    width: 100%;
}

#header h1 {
    color: white;
}

#signOnDisplayName {
    color: white;
    padding: 8px;
}

#leftSide {
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  min-width: 20%;
  background-color: lightgray;
  color: darkblue;
}

#leftSideTitle {
  color: black;
  padding-left: 6px;
}

.roomName {
    text-align: left;
    padding-left: 10px;
}

#newRoomButton {
    margin-bottom: 4px;
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#newRoomButton:hover {
  background-color: darkgreen;
}

.submitButton:focus,
.submitButton:hover,
#newRoomCancelButton:focus,
#newRoomCancelButton:hover {
  background-color: darkgrey;
  color: white;
}

.roomRow:hover {
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
}

.selected {
  font-weight: bolder;
  background-color: snow;
}

.messageRow {
  padding: 8px 3px;
}

.msgLine1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userName {
  font-weight: bold;
  text-align: left;
}

.timeStamp {
  text-align: right;
}

.content {
  display: block;
}