.App {
  text-align: center;
}

/*

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*/

#wholePage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#leftSide {
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  min-width: 35%;
  background-color: lightgray;
  color: darkblue;
}

#leftSide h1 {
  color: black;
}

.roomNumber, .roomName {
  text-align: left;
  padding-left: 10px;
}


#newRoomButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#newRoomButton:hover {
  background-color: darkgreen;
}

.submitButton:focus,
.submitButton:hover,
#newRoomCancelButton:focus,
#newRoomCancelButton:hover {
  background-color: darkgrey;
  color: white;
}
.formNoShow {
  display: none;
}







